.buttonHoverWithShadow:hover {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.nav-wrapper {
    width: 100%;
    padding: 0 10px;
    max-width: none;
}

.tabs .indicator {
    background-color: #607D8B;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color:rgba(0, 0, 0, 0.0)
}